* {
  border: 1px dotted red;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

body {
  height: 2000px;
  width: 95%;
  margin: 2px;
  background: url(images/bg.jpg);
  background size: cover;
}
