$shadow: -1px 3px 5px 0px rgba(166,161,166,1);
@mixin box-shadow($shadow) {

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@media screen and (max-width: 321px) {

  body {

    width: 320px;

    background: linear-gradient (
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url(images/bg.jpg);
    background-color: #e4e4e4;


  }

  .subscribe {
    /*width: 13%;
    margin: 0px 0px 0px 0px;
    position: absolute;*/
    display: none;
  }

  .vertnav, .hornav {
    display: none;
  }

  .menu{
    display: none;
  }
  .menu2 {
    margin: 1px;
    width: 100%;
    display: inline-block;
  }
  .bar12, .bar22, .bar32, .bar42 {
    width: 72px;
    height: 40px;
    background-color: #ad3232;
    display: inline-block;
    font-size: 11px;
    font-family: Tahoma;
    text-align: center;
    vertical-align: top;
    color: white;
    padding: 0px;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(166,161,166,1);
    -moz-box-shadow: -1px 3px 5px 0px rgba(166,161,166,1);
    box-shadow: -1px 3px 5px 0px rgba(166,161,166,1);
  }

  .centerimg img {
    width: 300px;
    margin: 5px;
    padding: 5px;
  }

  .articles {
    width: 300px;
  }

  .readmore {
    text-align: center;
  }

  .readmore a{
    color: #ad3232;
    font-size: 17px;

  }

  .arrow{
    display: none;
  }

  .skateboards {
    display: none;
  }
  .skateboards2 {
    height: 300px;
    width: 300px;
    background-color: white;
    position: relative;
    margin: 5px;
    @include box-shadow();
  }

  .skateboards2 img {
    margin: 2px;
    padding: 2px;
  }

  .form {
    display: none;
  }

  .basic-grey {
    display: none;
  }

  .hornav2 a {
    display: inline-block;
    margin: 10px;
    padding: 10px;

  }

  .hornav2 li {
    list-style-type: none;
    display: inline-block;
  }
  .hornav2 img {
    width: 32px;
  }

}
